<!DOCTYPE html>
<html>
<style>
  body{
    text-align: center;
  }
  
</style>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  
    <title>Example App</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>