<p>
    Enter the image of your x-ray
</p>
<form action="/results" method="post" enctype="multipart/form-data">
    
    <input type="file" name="xrayPic" ><br>
    <button type="submit">Submit</button>
</form>
<p>It will take few seconds to predict the results</p>